<div class="row">
    <div class="col-6">
        <app-pagination [totalItems]="count" [pageSize]="parameters.pageSize" (onPageSelected)="changePage($event)"></app-pagination>
    </div>
    <div class="col-6">
        <app-sorting (changeSorti)="updateAll($event)"></app-sorting>
    </div>
</div>
<div class="row">
    <div class="col-12" *ngFor="let item of Movies" style="background-color: rgb(243, 243, 243); margin-bottom: 1em;">
        <app-movie-list [movies]="item"></app-movie-list>
    </div>
</div>